.mapWrap{
    background: var(--theme-purple);
    padding-top: 80px;
}

.FormWrap{
    padding: 80px 0px;
    /* background: var(--theme-green); */
    background-image: url('/images/bg-04.png');
    background-color: #44F9C3;
}

.FormWrap h3{
    font-size: 78px;
    text-transform: uppercase; 
    margin-top: 0px;
}

.FormWrap form{
    background: #fff;
    padding: 32px;
    border-radius: 16px;
}

.FormWrap input{
    height: 60px;
    padding: 13px 25px;
    border: 2px solid #B8B8B8;
}

.FormWrap textarea{
    height: 141px;
    padding: 13px 25px;
    border: 2px solid #B8B8B8;
}

.FormWrap label{
    margin-bottom: 11px;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: #000;
}

.AboutContent{
    background-color: var(--theme-color);
    padding: 80px 0px;
    position: relative;
}

.AboutContent h2, .AboutContent p{
    color: #fff;
}

.AboutContent h2{
    font-size: 78px;
    line-height: 96px;
    text-transform: uppercase;
}

.CEOText{
    background: rgb(253,253,56);
    background: linear-gradient(232deg, rgba(253,253,56,1) 12%, rgba(212,212,212,1) 100%);
}

.CEOText .FlexRow{
    align-items: center;
    position: relative;
    z-index: 999;
}

.CeoImage{
    height: auto;
}
.CEOText h3{
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    padding-right: 37px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.InfoWidget h4{
    font-size: 36px;
    color: #fff;
    line-height: 46px;
}
.InfoWidget p{
    font-size: 24px;
    color: #fff;
    line-height: 34px;
}

.valuesWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.IconImage{
    width: 131px;
    height: 131px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    padding: 22px 0px;
}

.valuesWrap h2{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 46px;
}


@media (max-width: 991px) {
    .FormWrap{
        padding: 50px 0px;
    }
    .FormWrap h3{
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .valuesWrap h2{
        font-size: 20px;
        line-height: 30px;
    }

    .addressInfo{
        text-align: center;
    }
    .addressInfo p{
        justify-content: center;
    }

    .mapWrap{
        padding-top: 30px;
    }
    .mapWrap img{
        height: auto;        
    }

    .CEOText {
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .Blockquote{
        width: 30px;
        height: auto;
    }

    .CEOText .FlexRow{
        align-items: flex-end;
    }
    .CeoImage{
        margin-bottom: 0px;
    }
    .CEOText h3{
        padding-right: 0px;
        font-size: 25px;
        line-height: 35px;
    }
    .AboutContent h2{
        font-size: 60px;
        line-height: 70px;
    }
    .AboutContent p{
        text-align: justify;
    }
}